@media (min-width:600px) {
    #media{
        width: 100%;
        margin: 2%;
        /* padding: 5%; */
        font-size: 100%;
    }
}
@media (max-width:900px) {
    #media{
        width: 100%;
        /* margin-left: 1%; */
        margin: 2%;
        font-size: 100%;
    }
}

body{
    background-color: black;
}



